.DS_Store
.env
.env.local
.env.*.local
node_modules/
npm-debug.log*
yarn-error.log*
.idea/
.vscode/

backend/.env
backend/node_modules/
backend/uploads/reports/*
!backend/uploads/reports/.gitkeep
backend/uploads/medicines/*
!backend/uploads/medicines/.gitkeep
